*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-text:#ddccb0;
  --color-ogange:#ff5631;
  --color-grey:#686156;
  --color-green:#57cb4c;
  --color-border:#6e6659;
  --color-bg:#000000;
  --color-bg-task:#1e1e1e;

  --font-main:'Poppins', sans-serif;
}

html,body {
  min-height: 100%;
}
body {
  font-family: var(--font-main);
  padding: 50px 0 50px 0;
  color: var(--color-text);
  background-color: var(--color-bg);
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}


.header {
  margin-bottom: 30px;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__title {
  font-weight: 700;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.header__title span {
  color: var(--color-ogange);
}
.header__settings {
  background-color: transparent;
  border: none;
  width: 35px;
  height: 35px;
  stroke: var(--color-border);
  cursor: pointer;
  transition: 0.3s;
}
.header__settings:hover {
  stroke: var(--color-ogange);
  scale: 1.1;
  transition: 0.3s;

}


/*=====================================*/


.todo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo__wrapper-info {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 40px 60px;
  border: 2px solid var(--color-border);
  border-radius: 40px;
  margin-bottom: 30px;
}

.todo__info-title {
  letter-spacing: 1px;
  font-size: 30px;
  line-height: 28px;
  margin-bottom: 15px;
}
.todo__archive {
  border-radius: 10px;
  padding: 6px 12px ;
  border: 2px solid var(--color-border);
  background: transparent;
  color: var(--color-text);
  font-family: var(--font-main);
  letter-spacing: 1px;
  cursor: pointer;
  font-size: 12px;
  position: relative;
  transition: 0.3s;

}
.todo__archive:hover {
  border: 2px solid var(--color-ogange);
  transform: scale(0.9);
  transition: 0.3s;
}
.todo__archive-span {
  position: absolute;
  top: -7px;
  right: -4px;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-weight: 700;
  background-color: var(--color-ogange);
}
.todo__task-counter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 140px;
  background-color: var(--color-ogange);
  border-radius: 50%;
}
.todo__counter-wait,.todo__counter-done,.todo__counter-slesh {
  color: #000;
  font-size: 45px;
  font-weight: 700;
}
.todo__wrapper-input {
  padding: 0 10px 0px 10px;
  margin-bottom: 30px;
  max-width: 490px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.todo__wrapper-input ::placeholder {
  font-family: var(--font-main);
  font-size: 17px;
  letter-spacing: 0.5px;
  font-weight: 400;
}
.todo__input {
  font-family: var(--font-main);
  border-radius: 20px;
  /* background-color: var(--color-bg-task); */
  background-color: transparent;
  border: 2px solid var(--color-border);
  padding: 15px 20px;
  width: 85%;
  outline: none;
  font-size: 17px;
  color: var(--color-text);
  transition: 0.3s;

}
.input-active {
  border: 2px solid var(--color-ogange);
  transition: 0.3s;
  
}
.todo__add-btn {
  width: 50px;
  height: 50px;
  background-color: var(--color-ogange);
  border:  none;
  border-radius: 50%;
  font-size: 30px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s;
}
.todo__add-btn:hover {
  transform: scale(0.9);
  transition: 0.2s;

}


/*====================================================*/



.todo__task-item {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  width: 100%;
  border: 2px solid var(--color-border);
  border-radius: 10px;
  padding: 15px 30px 15px 53px;
  position: relative;
  background-color: var(--color-bg-task);
}


.todo__item-circle {
  position: absolute;
  top: 50%;
  left: 20px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  /* background-color: var(--color-bg-task); */
  border: 1px solid var(--color-ogange);
  transform: translate(0,-50%);
  cursor: pointer;
  
}
.todo__item-circle:hover {
  border: 1px solid var(--color-green);
  transition: 0.3s;
}
.active-circle {
  background-color: var(--color-green);
  border: 1px solid var(--color-green);
  transition: 0.3s;
}

.todo__wrapper-btn {
  display: flex;
  align-items: center;
  gap: 20px;
}
.todo__task-title {
  padding: 0px 5px;
  position: relative;
  font-size: 17px; 
  /* cursor: pointer; */
}
.active-text:before {
  position: absolute;
  top: 50%;
  left: 0px;
  content: '';
  width: 100%;
  height: 2px;
  background-color: var(--color-text);
}
.todo__task-edit,.todo__task-delete  {
  background: transparent;
  border: none;
  stroke: var(--color-border);
  cursor: pointer;
}
.todo__task-edit svg,.todo__task-delete svg {
  pointer-events: none;
  transition: 0.1s;

}
.todo__task-edit:hover,.todo__task-delete:hover {
  stroke: var(--color-ogange);
  scale: 1.1;
  transition: 0.1s;
}

.active-overlya {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.9;
  z-index: 5;
}

.todo__popup-task {
  min-height: 80px;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 480px;
  padding: 10px 20px;
  background-color: var(--color-bg-task);
  z-index: 10;
  border: 2px solid var(--color-border);
  border-radius: 10px;
  display: none;
}

.pop-up-active {
  display: block;
}

.todo__popup-save {
  position: absolute;
  top: -15px;
  right: -10px;
  border: none;
  background: transparent;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 30px;
  font-weight: 700;
  background-color: var(--color-ogange);
  display: flex;
  align-items: center;
  justify-content: center;
}
.todo__popup-ready {
  position: absolute;
  top: -15px;
  right: 30px;
  border: none;
  background: transparent;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 30px;
  font-weight: 700;
  background-color: var(--color-ogange);
  display: flex;
  align-items: center;
  justify-content: center;
}
.todo__popup-ready svg {
  fill: #000;
  transition: 0.2s;
}
.todo__popup-ready:hover {
  transform: scale(1.2);
  transition: 0.2s;
}
.todo__popup-save svg {
  fill: #000;
  transition: 0.2s;
}
.todo__popup-save:hover {
  transform: scale(1.2);
  transition: 0.2s;
}

.todo__popup-textarea {
  display: inline-block;
  width: 100%;
  height: 100%;
  /* border: 1px solid #fff; */
  border: none;
  background: transparent;
  font-size: 17px;
  font-weight: 700;
  outline: none;
  color: var(--color-text);
  resize: none;
  font-family: var(--font-main);
  padding: 0px;
}



/*=====================================================================*/



@media(max-width: 520px) {
  .todo__wrapper-info {
    padding: 30px 50px;
  }
  .todo__task-counter {
    width: 120px;
    height: 120px;
  }
  .todo__info-title {
    font-size: 25px;
  }

  .todo__counter-wait, .todo__counter-done, .todo__counter-slesh {
    font-size: 35px;
  }
}
@media(max-width: 450px) {
  .todo__wrapper-info {
    padding: 30px 20px;
  }
  .todo__wrapper-info {
    /* flex-direction: column; */
    gap: 30px;
    /* justify-content: space-between; */
  }
  .todo__wrapper-input {
    padding: 0px;
  }
  .todo__input {
    margin-right: 10px;
  }
  .todo__wrapper-title {
    text-align: center;
  }
}

@media(max-width: 371px) {
  .todo__info-title {
    font-size: 22px;
  }
  .todo__task-counter {
    width: 100px;
    height: 100px;
  }
  .todo__wrapper-info {
    gap: 39px;
  }
  
}


